.app__progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.app__progress-step-container {
    display: flex;
    align-items: center;
    min-width: 0;
}

.app__progress-step {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: white;
    stroke-width: 0.15rem;
}

.app__progress-step.completed {
    background-color: var(--cor-step);
}

.app__progress-step.current {
    background-color: var(--cor-frame);
    border: 4px solid var(--cor-step);
    box-sizing: border-box;
}

.app__progress-step.pending {
    background-color: var(--cor-botao3);
}

.app__progress-line {
    height: 0.2rem;
    width: 2rem;
    flex-shrink: 1;
    min-width: 0;
}

.app__progress-line.completed {
    background-color: var(--cor-step);
}

.app__progress-line.pending {
    background-color: var(--cor-botao3);
}