.app__header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    font-size: 1.25rem;
}

.app__header {
    text-align: center;
}

.app__header-logo {
    height: 1.5rem;
    object-fit: contain;
}

@media (max-width: 1000px) {

    .app__header-container {
        display: none;
    }
}