.app--header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    font-size: 1.25rem;
}

.app--header {
    text-align: center;
}

.app--header-logo {
    height: 1.5rem;
    object-fit: contain;
}