
.app--tela-inicial {
	justify-content: space-between;
	height: 100%;
}

.app--tela-inicial-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	gap: 3rem;
	width: 100%;
}

.app--logo-pse {
	width: 10rem;
	margin-bottom: 1rem;
	object-fit: contain;
}

.app--title {
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 1.25em;
	margin-bottom: 0.25em;
}

.app--title__tela-inicial {
	text-align: center;
}

.app--date-group {
	display: flex;
	gap: 0.5rem;
}

.app--date-input {
	width: 4rem;
	padding: 0.75rem;
	border: var(--input-border);
	border-radius: 0.4rem;
	font-size: 1rem;
	outline: none;
	background-color: transparent;
	flex: 1;
	height: 3rem;
}

.app--date-input:focus {
	border-color: var(--cor-texto);
}

.login--input-group {
	display: flex;
	flex-direction: column;
	gap: inherit;
	margin: auto 0;
}

.app--list {
	display: flex;
	flex-direction: column;
	gap: 0rem;
	margin-top: -1rem;
	margin-bottom: -1rem;
}

.app--tela-com-lista--gap {
	display: flex;
	gap: 2rem;
	flex-direction: column;
}

.app--list--aluno-nascimento {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.app--list--aluno-nascimento--nascimento {
	color: var(--cor-botao2);
}

.app--list label {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1rem;
	padding: 1rem 0rem;
	font-size: 1.25rem;
}

.app--botao-voltar {
	background: transparent;
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	transition: transform 0.1s ease, filter 0.2s ease;
	user-select: none;
	cursor: pointer;
	width: 1em;
	font-size: 1.5rem;
}

.app--botao-voltar:hover {
	cursor: pointer;
}

.app--botao-voltar:active {
	transform: scale(0.8);
}

.app--contador {
	color: var(--cor-botao2);
	font-size: 1.25rem;
}

.app--nomeAluno {
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 1.25em;
	margin-bottom: 0.25em;
	text-align: center;
}

.app--input-group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.app--input-group label {
	font-size: 1rem;
}

.app--input-group input {
	border: var(--input-border);
	border-radius: 0.5rem;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	outline: none;
	background-color: transparent;
	width: 100%;
	height: 3rem;
}

.app--dados-aluno--footer {
	margin-top: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.app--input-group input:focus {
	border-color: var(--cor-texto);
}

.app--resumo--subtitle {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1em;
	margin-bottom: 0.25em;
}

.app--resumo span,
.app--resumo p {
	line-height: 1.25em;
}

.app--ajuda--paragrafo {
	margin-bottom: 0.5em;
	text-align: justify;
}

.app--ajuda--subtitulo {
	margin-bottom: 0.5em;
	margin-top: 1em;
	font-weight: 600;
}

.app--ajuda--titulo {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1em;
	margin-bottom: 0.25em;
	margin-top: 1em;
}

.app--tela-inicial--ajuda {
	font-size: 1.5rem;
}

.app--tela-vacinacao-grupo-botoes--botao:active {
	transform: scale(0.95);
}

.app--tela-vacinacao-grupo-botoes--botao:hover {
	filter: brightness(0.975);
}

.app--tela-vacinacao--pendentes {
	font-weight: 600;
	color: var(--cor-negative);
}

.app--tela-inicial--rodape-imagens {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.app--tela-eixos--grupo-inputs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 1rem;
}

* {
	-webkit-tap-highlight-color: transparent;
}

@media (max-width: 1000px) {
	.app--background {
		padding: 1rem;
		padding-top: 2rem;
		min-height: 100svh;
		height: auto;
	}

	.app--header-container {
		display: none;
	}

	.app--logo-pse {
		width: 6rem;
	}
}